.theme_clr {
  color: #1e8ea5;;
}

.fs_30 {
  font-size: 30px;
}

.logo_size {
  width: 167px;
  height: 33px;
  cursor: pointer;
}

.txt_c {
  text-align: center;
}

.mr_10 {
  margin-right: 10px;
}

.pdt_50 {
  padding-top: 60px;
}

.pdb_50 {
  padding-bottom: 50px;
}

.cb_262626 {
  color: #262626;
}

.fs_12 {
  font-size: 12px;
}

.fs_14 {
  font-size: 14px;
}

.fs_16 {
  font-size: 16px;
}

.fw_500 {
  font-weight: 500;
}

.cp {
  cursor: pointer;
}

.ls_1 {
  letter-spacing: 1px;
}
