.theme_clr {
  color: #1e8ea5;;
}

.fs_30 {
  font-size: 30px;
}

.logo_size {
  width: 167px;
  height: 33px;
  cursor: pointer;
}

.txt_c {
  text-align: center;
}

.mr_10 {
  margin-right: 10px;
}

.pd_30 {
  padding-top: 30px;
}

.cb_262626 {
  color: #262626;
}

.fs_12 {
  font-size: 14px;
}

.cp {
  cursor: pointer;
}

.ls_1 {
  letter-spacing: 1px;
}
